/* import your vars... */
@value vars: "../../styles/variables.css";
@value side-bar-width, side-bar-inner-width, default-border from vars;


.core-layout {
  height: 100%;
  position: relative;
  .header {
    height: 50px;
  }
  .content {
    height: calc(100% - 50px);
    /*min-width: 1000px;*/
  }
}

.side-nav {
  width: side-bar-width;
  height: 100%;
  float: left;
  overflow: hidden;
  border-right: default-border;
}

.side-nav :global .ant-menu-inline,
.side-nav :global .ant-menu-vertical {
  border-right: 0
}

.side-nav__inner {
  width: side-bar-inner-width;
  height: 100%;
  overflow: auto;
}

.viewport {
  padding: 0 20px;
  height: 100%;
  /*奇迹：overflow会使viewport的宽度去掉左侧的side-nav的宽度*/
  overflow: auto;
}
/*自适应*/
@media (max-width: 700px) {
  .side-nav {
    position: fixed;
    left: 0px;
    top: 50px;
    width: 100%;
    z-index: 2;
  }
}
