.datagrid{
  height: 290px;
  .ant-card-body {
    position: relative;
  }
  .grid{
    height: 290px;
    width: 100%;
  }
  .item-data {
    padding: 5px 0px;
    font-weight: 600;
  }
  .gridbody {
    /*position: absolute;
    left: 0;
    top: 48px;
    bottom: 0px;*/
    height: 290px;
    width: 100%
  }
}
