.datagrid{
  /*height: 290px;*/
  .item {
    float: left;
  }
  .item:first-child {
    width: 40%;
  }
  .item:last-child {
    width: 60%;
  }
  .wraps {
    padding: 10px;
  }
  .ant-card-body {
    position: relative;
  }
  .grid{
    min-height: 290px;
    width: 100%;
  }
  .item-data {
    padding: 5px 0px;
    font-weight: 600;
  }
  .gridbody {
    /*position: absolute;
    left: 0;
    top: 48px;
    bottom: 0px;*/
    height: inherit;
    min-height: 290px;
    width: 100%
  }
}

@media (max-width: 700px) {
  .datagrid {
    .item {
      float: none;
      width: 100%;
    }
  }
}
